
<link href="https://fonts.googleapis.com/css?family=Belleza|Cinzel" rel="stylesheet"> 

h1 {text-align: center;
font-family: 'Cinzel', cursive;
}

p {
	font-family: belleza;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}