
<link href="https://fonts.googleapis.com/css?family=Belleza|Cinzel" rel="stylesheet"> 

body {
	background-color: red;
}

h1 {
	text-align: center;
font-family: 'Cinzel', cursive;
text-transform: uppercase;
}

h2 {text-align: center;
font-family: 'Cinzel', cursive;
color: gray;
}

h3 {
	text-align: center;
font-family: 'Cinzel', cursive;
}

img {
	display: block;
	margin: 0 auto;
}
p {
	font-family: 'Cinzel', cursive;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}

footer{
	text-align: center;
	padding: 1em 0;
}


#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left21 {
	background-color: violet;
	border: 20px black solid;
	padding: 10px;
	float: left;
	width: 10%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

